.sec1{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 60px;

}
.sec1-1 {
    margin-left: 100px;
}
.sec1-1 img{
    width: 300px;
    border-radius: 40%;
}
.sec1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec-1-2-1{
    font-weight: 600;
}
h1{
    font-size: 30px;
    color: darkorange;
}
.sec-1-2-3{
    font-weight: 600;
    font-size: 22px;
}
p{
    font-size: 16px;
    width: 70%;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns >:nth-child(1){
    padding: 10px 10px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 1px soild black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btns > :nth-child(1):hover {
    background-color: black;
    color: white;
}
.btns >:nth-child(2){
    padding: 10px 20px;
    background-color: black;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border: 2px soild black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btns > :nth-child(2):hover {
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.social img:hover{
    transform: scale(0.9);
}
@media(max-width:1024px){
    .sec1{
      flex-direction: column;
      height: 100%;
    }
    .sec1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.sec1-1 {
    margin-left: 0px;
}
}
@media(max-width:767px){
    .sec1{
        flex: column;
    }
    h1{
        font-size: 40px;
    }
    p {
        text-align: center;
    }
    .sec1-1{
        margin-top: 50px;
    }
    .sec1-1 img{
        width: 300px;
    }
    .sec1-2{
        align-items: center;
    }
}