.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 100px;
    gap: 100px;
    margin-bottom: 50px;
}
.sec3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3-2 {
    display: flex;
    gap: 50px;
}
.box2 {
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
}
.box2 > :nth-child(1) {
    font-size: 20px;
    font-weight: 200;
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.skills-1 {
    display: flex;
    align-items: start;
    gap: 10px;
}
.skills-1 img {
    width: 30px;
}
.skills-1-2{
    display: flex;
    flex-direction: column;
}
.skills-1-2 > :nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    gap: 20px;
}

@media (max-width: 1024px){
    .sec3-2{
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
}

@media (max-width: 767px){
    .sec3{
        padding-bottom: 150px;
    }
    .sec3-2{
        flex-direction: column;
    }
    .box2{
        width: 300px;
        gap: 15px;
    }
    .box2 > :nth-child(1){
        font-size: 18px;
    }
    .skills{
        gap: 25px;
    }
    .skills-1{
        gap: 10px;
    }
    .skills-1 img{
        width: 30px;
    }
    .sec3-2{
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

}