*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "poppins",sans-serif;
    font-style:normal;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: darkorange;

}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
}
.logo {
    width: 40%;
    font-size: 30px;
    font-weight: 200;
    color: darkorange;
}
.menu-bar {
    width: 60%;
    list-style:none;
    display: flex;
    justify-content: space-around;
}
.menu-bar{
    font-size: 20px;
}
.navbar-menu {
    display: none;
}
@media (max-width: 1024px) {
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: fixed;
        right: 30px;
        top: 20px;
    }
     .hamburger i {
        font-size: 35px;
        padding: 4px;

    }

    .navbar-menu .menu-bar{
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    position: fixed;
    right: 0;
    top: 10px;
    padding: 10px;
    gap: 2px;
    margin-right: -400px;
    border-radius: 2px;
    transition: all 0.3s ease;
}
   .navbar-menu .menu-bar.show{
    margin-right: 0px;
}
.navbar-menu .menu-bar li {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 400;
}
}
@media (max-width:767px){
    .logo{
        text-wrap: nowrap;
    }
     .navbar-menu .logo{
        font-size: 25px;
        margin-top: 25px;
        padding-left: 30px;
    }


    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: fixed;
        right: 30px;
        top: 20px;
    }
    .hamburger i {
        font-size: 35px;
        padding: 4px;

    }
    .navbar-menu .logo{
        margin-top: 20px;
        padding-left: 30px;
    }
    
}